.header{
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  align-items: center;
  justify-content: center;
  gap: 11px;
  box-shadow:  1px 3px 0px rgba(0,0,0,0.10);
}
.header > img {
  width: 50px;
  border-radius: 50%;
}
body{
  background-color: #FAFAF8;
}
.header > h1 {
  font-weight: 450;
}
.addIngredientForm{
  display: flex;
  justify-content: center;
  gap: 12px;
}
main {
  padding: 30px 30px 10px; 
}
.addIngredientForm > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow:  1px 3px 0px rgba(0,0,0,0.10);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.addIngredientForm > button{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 300;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.addIngredientForm > button ::before {
  content: "+";
}
.get-recipe-container{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  align-items: flex-start;
  padding:10px;
}
.get-recipe-container > button{
  height: 35px;
  margin-left: auto;
  align-self: center;
  position: absolute;
  right: 0;
  top: 35%;
  transform: translate(-10%);
  border: none;
  background-color: coral;
  border-radius: 7px;
  color: #FAFAF8;
  cursor: pointer;
}
  li {
  /* background-color: aliceblue; */
  margin: 10px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 40px;
  border-radius: 6px;
  padding: 5px 10px;
  min-width: 150px;
  max-width: 500px;
}
 li > button{
  display: none;
  background-color: red;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 6px;
  margin-left: auto;
  margin-top: 30px;
  height: 80%;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transform: translateY(-50%);
}
li:hover button {
  display: inline-block;
}
main > i{
  color: red;
  margin-bottom: 10px;
  font-size: small;
  

}